<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/styles.css">
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.js"></script> 
    <script defer type="module"src="scripts/app.js"></script>
    
    <title>Notes App</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <h1 class="header__title">Notes App</h1>
            <h2 class="header__subtitle">Take notes and never forget</h2>
        </div>
    </div>
    <div class="actions">
        <div class="actions__container">
            <input id="search-text" type="text" class="input" placeholder="Filter todos">
            <select name="" id="filter-by" class="dropdown">
                <option value="byEdited">Sort by last edited</option>
                <option value="byCreated">Sort by recently created</option>
                <option value="alphabetical">Sort alphabetically</option>
            </select>
        </div>
    </div>
    <div  class="container">
        <div v-if="!createMode">
            <div v-for="note in notes" id="notes">
                <div class="list-item">
                    <p class="list-item__title">{{note.title}}</p>
                    <p>{{note.description}}</p>
                </div>
            </div>
            <button @click="toggleCreateMode" id="create-note" class="button">Create Note</button>
        </div>
        <form v-if="createMode" @submit.prevent="addNote">
            <input name="title" type="text" class="title-input" placeholder="Note title">
            <input name="description" type="text" class="body-input" placeholder="Enter description here...">
            <button class="button">Add Note</button>
            <button @click="toggleCreateMode" class="button">Delete Note</button>
        </form>      
    </div>  
</body>
</html>